.dog-profile-pic{
  border-radius:10px;
  height: 100%;

}

.icons {
  position: absolute;
  font-size: 22px;
  bottom: 2%;
  right: 85%;
}

.icons a {
  text-decoration: none !important;
  color: #55AFE2;
}

.icons a:hover {
  opacity: 50%;
}
.profile-left{
  margin-right: 20px;
}
.profile-left-top{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.profile-description{
  padding: 40px;
}
.dog-photo{
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
.fixed-bookings{
  position: sticky;
  top: 96px;
}

.circle-graphic{
  height: 30vw;
  width: 30vw;
  background-color: rgba(255, 254, 212, 0.6);
  border-radius: 250px;
  position: absolute;
  top: 75%;
  left: -40%;
}

.dog-details{
  display: grid;
  grid-template-columns: 2fr 1fr;
}

#map{
  background-color: #eee;
  border-radius: 10px;
  padding: 10px;
  margin: 50px 0;
}

.profile-left-top{
  position: relative;
  background: #fff;
  border-radius: 10px;
  // h4{
  //   margin-top: 16px;
  // }
}
.booking-form{
  border-radius: 5px;
  background: #fff;
  padding: 32px;

}

.booking-form-reviews{
  border-radius: 5px;
  background: #fff;
  padding: 32px;

}

.dog-tags{
  background-color: rgb(255, 254, 212);
  border-radius: 10px;
  padding: 6px 20px;
  display: inline-block;
  margin-top: 6px;
  margin-bottom: 6px;
}

// reviews
.recent-reviews{
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 8px;
  .fa-solid{
    font-size: 22px;
    margin-bottom:8px;
  }
}
.review-card{
  // background: #e5f5ff;
  background: #ffffed;
  border-radius: 5px;
  padding: 20px 20px;
}
.all-reviews{
  padding: 20px 20px;
  background: #fff;
  border-radius: 5px;
  .fa-solid{
    margin-bottom:8px;
  }
}
.review-list{
  width: 100%;
  hr{
    border: 1px rgb(222, 222, 222) solid;
  }
}

.review-headings{
  width: 100%;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr ;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr  1fr;
  }
}
