.card-category {
  background-size: cover;
  background-position: center;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
}
.card-category:hover #home-circle{
  transition-timing-function: ease;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  width: 200%;
  height: 200%;
  border-radius: 50%;
  top: -50%;
  left: -50%;
}

#home-circle{
  top: 60%;
  left: -70%;
}
.card-dog-heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  h3{
    padding-bottom: 8px;
  }
  i{
    padding-bottom: 18px;
  }
  p {
    mask-image: url(bone.svg);
    // mask-size: 100px;
    mask-repeat: no-repeat;
    background-color:#d1edff;
    padding: 25px 7px;
    // border-radius: 20px;
    // align-self: center;
  }
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.card-component{
  background: white;
  border-radius: 5px;
}
.card-product-infos{
  padding: 15px;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  display: flex;
  align-items: center;
  border-radius: 5px;
}
.review-buttons{
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  border-right: #eee 1px solid;
  padding-right: 8px;
  a{
    margin-top: 4px !important;
  }
  #dog-owner{
    margin-top: 7px;
  }
}

.card-product p{
  line-height: 16px;
}
.card-info-right{
  display: flex;


  img{
    margin-right: 8px;
  }
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

// my_bookings page

.card-trip {
  overflow: hidden;
  background: white;
  border-radius: 5px;
}

.card-trip-body img {
  height: 200px;
  width: 30%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-trip .card-trip-footer {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-footer .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-product-infos a:nth-child(2){
  // display:none;
  margin-left: 10px;
  margin-top: -5px;
}

.hidden {
  display: none
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-btn {
  // width: 50%;
  border: none;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  &:hover {
      opacity: 0.8;
    }
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr  1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr  1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr  1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
