.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.footer {
  background: #55AFE2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius:5px;
  width: 100%;
  margin: 0 auto;
  height: auto;
  color: rgba(0, 0, 0, 0.3);
  // padding-top: 80px !important;
  // padding-bottom: 120px !important;
  padding: 50px;
  margin-top:50px;
  vertical-align: top;
}
.footer-copyright{
  width: 320px;
  color: #fff;
  p {
    opacity: 0.6;
  }
}

.footer-links {
  display: flex;
}

.footer-links a {
  color: rgb(255, 255, 255);
  opacity: 0.8;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
}

.footer .fa-heart {
  color: #D23333;
}
