.navbar-lewagon {
  justify-content: space-between;
  background: white;
  margin-bottom: 16px;
  margin-right: inherit
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

// .container {
//   margin-top: 16px;
// }
