.navbar-lewagon {
  justify-content: space-between;
  background: white;
  margin-bottom: 16px;
  margin-right: inherit
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar{
  padding-right: 50px;
  padding-left: 50px;
}

.container {
  margin-top: 110px;
}
